html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.registerUser{
    width: 90%;
    position: absolute;
    top: 15%;
    box-sizing: border-box;
}
.attrSpan{
    font-weight: 900;
    text-decoration: blue;
}